
.sw-docs-menu{

    padding: 20px;
  
    line-height: 180%;
  
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .sw-docs-contents{
    border-left: #000000 solid 1px;
    padding: 40px;
    padding-bottom: 100px;
  }
  