@import "ember-power-select";

@import "accessibility";
@import "header";
@import "loading";
@import "sw/button";
@import "sw/info";
@import "sw/other";
@import "sw/docs";

main {
  padding-left: 20%;
  padding-right: 20%;
  @media (orientation: portrait) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  & > section {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: #000000 solid 1px;
  }
}




footer{
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 40px;

  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 100;
}


.CodeMirror{
  height: auto;
}

