
.sw-docs{

  padding: 0 20px;
  display: flex;

  #docview, #select-repo {
    box-sizing: border-box;

  }

  #select-repo {
    flex-basis: 20%;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    padding-right: 20px;
    line-height: 180%;


    .category {
      border: 0;
      padding: 0;
      ul {
        padding: 0;
        margin: 0;
        margin-left: 20px;
        list-style: none;
      }
    }
  }


  #docview {
    flex: 1;
    border-left: #000000 solid 1px;
    padding: 40px;
    padding-bottom: 100px;
  }


  @media (max-width: 1000px) {
    flex-wrap: wrap;
    
    #select-repo, #docview {
      flex-basis: 100%;
      max-width: 100%;
    }
    #docview {
      padding: 0;
      border: none;
    }

    #select-repo {
      flex-basis: 100%;

      legend {
        width: 100%;
      }

      h3 {
        text-align: center;

        text-decoration: underline;
        cursor: pointer;
        color: red;
      }
      ul {
        display: none;
      }
    }

  }
}