.sw-docs{
  padding: 0;

  display: grid;
  // Desktop
  @media (min-width: 1000px) {
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;

    #select-repo {
      padding: 0px 30px;
    }

    #docview {
      border-left: #000000 solid 1px;
      padding: 0px 30px;
    }

    .desktop {
      display: initial;
    }
    .mobile {
      display: none;
    }
  }
  // Mobile
  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    #select-repo {
      legend {
        width: 100%;
      }
      h3 {
        text-align: center;

        text-decoration: underline;
        cursor: pointer;
        color: red;
      }
      
      ul {
        display: none;
      }
    
      
      
    }

    #docview {
      padding: 0 20px;
    }

    .desktop {
      display: none;
    }
    .mobile {
      display: initial;
    }
  }



  #select-repo {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 180%;

    .category {
      border: 0;
      padding: 0;
      ul {
        padding: 0;
        margin: 0;
        margin-left: 20px;
        list-style: none;
      }
    }
  }

  

}