
.sw-info {
    color: #000000;

    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    
    > * {
        margin: auto;
        min-width: 300px;
        flex-basis: 33%;
        flex: 1;

    }


    h3 {
        font-family: "Roboto";
        font-size: 21px;
        font-weight: 600;
        font-style: normal;
    }

    p {
        line-height: 180%;

        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 100;
        font-style: normal;
    }

}