.sw-img-fill{
    width: 100%;
  }
  
  .sw-catchy {
    color: #000000;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 100;
    font-style: normal;

    text-align: center;
    margin-top: 10px;
}

.sw-center {
    text-align: center;
}
