<HeadLayout />

<header>
    <LinkTo @class="logo" @route="index">
        <span>Semantic</span>
        <img src="{{ROOTURL}}/assets/images/logo.png" alt="Semantic works logo" />
        <span>Works</span>
    </LinkTo>

    <nav>
      <ul>
        <LinkTo @route="docs"><li>Documentation</li></LinkTo>
        <LinkTo @route="tutorial"><li>Tutorial</li></LinkTo>
        <a href="https://mu.semte.ch/"><li>Blog</li></a>
        <a href="https://github.com/mu-semtech/"><li>GitHub</li></a>
      </ul>
    </nav>

  <Slant/>
</header>
{{outlet}}
<footer>
  &copy; Copyright 2023 &dash; semantic.works
</footer>
