{{page-title "Semantic.Works"}}

<header>
  <div class="header">
    <div class="search" style="visibility: hidden">
      {{!-- Hide the search since we don't have a search function yet --}}
      <img src="{{ROOTURL}}/assets/images/search.png" class="img" alt="Search icon" />
      <div class="text">Search the docs...</div>
    </div>

    <LinkTo @route="index">
      <div class="logo">
        <span>Semantic</span>
        <img src="{{ROOTURL}}/assets/images/logo.png" alt="Semantic works logo" />
        <span>Works</span>
      </div>
    </LinkTo>

    <nav>
      <ul>
        <li><LinkTo @route="docs">Documentation</LinkTo></li>
        <li><LinkTo @route="tutorial">Tutorial</LinkTo></li>
        <li><a href="https://mu.semte.ch/">Blog</a></li>
        <li><a href="https://github.com/mu-semtech/">GitHub</a></li>
      </ul>
    </nav>

  </div>
  <Slant/>
</header>
{{outlet}}
<footer>
  &copy; Copyright 2023 – semantic.works
</footer>
